/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

  .flash.notice {
    background-color: greenyellow;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
  }

  .flash.error {
    background-color: red;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
  }

  .notification {
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 300px;
    margin-bottom: 20px;
  }

  a > .notification {
   color: white;
   font-weight: bold;
 }