// Place all the styles related to the Clients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.client-index-options{
  float: right;
}
.new-client-button{
  margin-bottom: 20px !important;
}