<!DOCTYPE html>
<html>
<head>
  <title>TicketingAgency</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/menu'%>
<%= yield %>


</body>
</html>
