<div class="container">
<h2>Add a new vacation to our database</h2>

<div class="col-xs-5">
<%= form_for(@vacation, url: update_vacation_path, method: "POST") do |f| %>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.select :vacation_type, ["cruise", "tour", "stay"], autofocus: true, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :destination %><br />
    <%= f.select :destination, ["abroad", "country"], autocomplete: "off", :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location, autocomplete: "off", :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date, autocomplete: "off", :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date, autocomplete: "off", :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price, autocomplete: "off", :class=>"form-control" %>
  </div>

  <%= f.hidden_field :id %>

  <div class="actions">
    <%= f.submit "Modify vacation" %>
  </div>
<% end %>

</div>
</div>