<div class="container">
  <% if employee_signed_in? %>
  <%= link_to "Create new vacation", new_vacation_path, class: "btn btn-default new-client-button"%>
  <% end %>
  <% @vacations.each do |v|%>
  <div class="client-wrapper">
    <h3>
    <%= v.location%>
    </h3>
    <div class="vacation-index-options">
    <%= link_to "Show", vacation_path(v)%>
    <% if employee_signed_in? %>
    <%= link_to "Edit", edit_vacation_path(v)%>
    <%= link_to 'Destroy', vacation_path(v), :method => :delete, :data => { :confirm => 'Are you sure?' }%>
    <% end %>
  </div>
  </div>
  <% end %>
</div>