<div class="container">

  <h2>
    <%= @vacation.location %>
  </h2>

  <h3>
    <%= @vacation.vacation_type %>
  </h3>
  <h3>
    <%= @vacation.destination %>
  </h3>

  <h3>
    <%= @vacation.start_date %>
  </h3>
  <h3>
    <%= @vacation.end_date %>
  </h3>

  <h3>
    <%= @vacation.price %>
  </h3>

</div>