<div class="navbar navbar-default">
  <div class="container">
    <nav class="collapse navbar-collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <% if employee_signed_in? %>
          <li>
            <%= link_to root_path do %>
              Welcome
              <%= current_employee.name %>
            <% end %>
          </li>
        <% else employee_signed_in? %>
          <li>
            <%= link_to('Login', new_employee_session_path) %>
          </li>
          <li>
            <%= link_to 'Sign Up',  new_employee_registration_path %>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to('Vacations', vacations_path)%>
        </li>
        <% if employee_signed_in? %>
        <li>
          <%= link_to('Clients', clients_path)%>
        </li>
        <li>
              <%= link_to('Logout', destroy_employee_session_path, :method => :delete) %>
        </li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
<div class="container">
  <div class="col-md-offset-1">
    <% flash.each do |key, value| %>
      <%= content_tag :div, value, class: "flash #{key}" %>
    <% end %>
  </div>
</div>