<div class="container">
<h2>Edit client</h2>

<div class="col-xs-5">
<%= form_for(@client, url: update_client_path, method: "POST") do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autocomplete: "off", :class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :picture %><br />
    <%= f.text_field :picture, autocomplete: "off", :class=>"form-control" %>
  </div>

  <%= f.hidden_field :id %>

  <div class="actions">
    <%= f.submit "Modify client" %>
  </div>
<% end %>

</div>
</div>