<div class="container">
  <%= link_to "Create new client", new_client_path, class: "btn btn-default new-client-button"%>
  <% @clients.each do |c|%>
  <div class="client-wrapper">
    <%= c.name%>
    <div class="client-index-options">
    <%= link_to "Show", client_path(c)%>
    <%= link_to "Edit", edit_client_path(c)%>
    <%= link_to 'Destroy', client_path(c), :method => :delete, :data => { :confirm => 'Are you sure?' }%>
  </div>
  </div>
  <% end %>
</div>